html {
  /* The viewer implements a custom pinch zoom. */
  touch-action: pan-x pan-y;
}

body {
  background-color: rgb(201, 207, 211);
  color: var(--primary-text-color);
  line-height: 154%;
  margin: 0;
}
