@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  /* Variaveis */
  --bg-primary: rgb(71, 31, 71);
  --logo-height: 100px;
  --header-height: 100px;
  --menu-top-height: 70px;
  --aside-width: 225px;
  --footer-height: 40px;
  --shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
  font-family: "Montserrat", sans-serif;
}

.app {
  display: grid;
  grid-template-columns: var(--aside-width) 1fr; /* colunas */
  grid-template-rows: var(--header-height) 1fr var(--footer-height); /* Linhas */
  background-color: #f5f5f5;
  grid-template-areas: "logo header" "menu content" "menu footer";
}

header.header {
  grid-area: header;
}

aside.logo {
  grid-area: logo;
  background-color: var(--bg-primary);
}

aside.menu-area {
  grid-area: menu;
  background-color: var(--bg-primary);
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}

.menu a {
  /* pega todas as tags 'a' dentro da classe menu */
  text-decoration: none; /* para tirar o sublinhado do link */
  color: white;
  padding: 15px; /* espaçamento dentro do elemento */
}

.menu a:hover {
  background-color: rgb(45, 0, 54);
  color: azure;
}

.img-fluid {
  height: 100%;
  width: 100%;
}
